<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254850661897-2uvfvqt02a4jvi1tdacg4it40ct8m9gl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254850661897-2uvfvqt02a4jvi1tdacg4it40ct8m9gl</string>
	<key>API_KEY</key>
	<string>AIzaSyBFK4jGp65Aupb24GUeHJSIXZIxgzlzPLs</string>
	<key>GCM_SENDER_ID</key>
	<string>254850661897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoList</string>
	<key>PROJECT_ID</key>
	<string>todo-firestore-6e4aa</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-firestore-6e4aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254850661897:ios:96d7607372b672cabc82d8</string>
</dict>
</plist>